
a {
    text-decoration: none;
}
.aside_menu{
    z-index: 1000;
}
.hover_menu ul{
    display: none;
    top:0;
    margin-left: 100%;
}
.hover_menu:hover ul{
    display: block;
}
/* .hover_menu ul li
{

} */
.hover_menu ul li:hover{
    -tw-bg-opacity: 1;
    background-color: rgb(243 244 255 / var(--tw-bg-opacity));
}
.hover_menu ul li a{
    display: block;
    /* background-color: aquamarine; */
    padding: 10px;
}

.loading{
    position: fixed;
    z-index: 100000;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    /* background-color: rgb(255, 255, 255); */
    /* display: none; */
    justify-content: center;
    align-items: center;
    /* scroll-behavior: smooth; */
}
.loading img{
    width: 200px;
}
.exclui_nota:hover{
    color: brown;
}
